{% extends "layout.html" %}

{% block content %}
{% include "login_modals.html" %}

    <div class="card">
        <img class="card-img" src="static/find_game.png">
        <div class="card-img-overlay">
            <div class="card-body">
                <h1 class="card-text text-white">More About Us</h1>
                <div class="card-body bg-white" style="width:80%;opacity:0.9">
                    <h1 class="mt-4 mb-3">
                      <small>Our Mission</small>
                    </h1>
                    <p class="card-text" style="font-size:16px">
                        We live in an age of unprecedented speed and convenience; where apps exist for nearly every social interaction. Dating, cinema,
                        education, video games; all can be accessed effortlessly from any device. People expect this degree of ease and speed in every facet of their lives.
                        But there is a very popular arena of social interaction where such convenience is strikingly absent: real life, pick-up basketball.
                        Courts are fickle, and can often be deserted, overcrowded or occupied by players far above your skill level. Online gaming has led
                        players to expect convenient, immediate matchmaking systems. This got us thinking: with dating apps more popular than ever, and games like
                        Fortnite matching up dozens of players within minutes, why isn’t there an equivalent system for pick-up basketball? That’s what WeBall brings to the game.
                    </p>
                    <h1 class="mt-4 mb-3">
                      <small>Our Team</small>
                    </h1>
                    <div class="row">
                        <div class="col-lg-2 col-md-3 justify-content-center text-center portfolio-item">
                          <img class="rounded-circle mx-auto d-block" src="static/profile_pics/maxwell_calehuff.jpg" alt="">
                          <h5 class="text-center">Max Calehuff</h6>
                          <a href="https://www.linkedin.com/in/maxwell-calehuff/">
                            <i class="fab fa-linkedin fa-lg"></i>
                          </a>
                        </div>
                        <div class="col-lg-2 col-md-3 justify-content-center text-center portfolio-item">
                          <img class="rounded-circle mx-auto d-block centerImage" src="static/profile_pics/haree_srinivasan.jpg" alt="">
                          <h5 class="text-center">Haree Srinivasan</h5>
                          <a href="https://www.linkedin.com/in/haree-srinivasan/">
                            <i class="fab fa-linkedin fa-lg"></i>
                          </a>
                        </div>
                        <div class="col-lg-2 col-md-3 justify-content-center text-center portfolio-item">
                          <img class="rounded-circle mx-auto d-block" src="static/profile_pics/jesse_moore.jpg" alt="">
                          <h5 class="text-center">Jesse Moore</h5>
                          <a href="https://www.linkedin.com/in/jesse-ej-moore/">
                            <i class="fab fa-linkedin fa-lg"></i>
                          </a>
                        </div>
                        <div class="col-lg-2 col-md-3 justify-content-center text-center portfolio-item">
                          <img class="rounded-circle mx-auto d-block" src="static/profile_pics/srikar_murali.jpg" alt="">
                          <h5 class="text-center">Srikar Murali</h5>
                          <a href="https://www.linkedin.com/in/srikar-murali-012014111/">
                            <i class="fab fa-linkedin fa-lg"></i>
                          </a>
                        </div>
                        <div class="col-lg-2 col-md-3 justify-content-center text-center portfolio-item">
                          <img class="rounded-circle mx-auto d-block" src="static/profile_pics/xintao_todd_zhang.jpg" alt="">
                          <h5 class="text-center">Todd Zhang</h5>
                          <a href="https://www.linkedin.com/in/xintao-todd-zhang-951026/">
                            <i class="fab fa-linkedin fa-lg"></i>
                          </a>
                        </div>
                        <div class="col-lg-2 col-md-3 justify-content-center text-center portfolio-item">
                            <img class="rounded-circle mx-auto d-block" src="static/profile_pics/qingyi_sun.jpg" alt="">
                            <h5 class="text-center">Lexie Sun</h5>
                            <a href="https://www.linkedin.com/in/qingyi-lexie-sun-a9203a175/">
                              <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                          </div>
                        <div class="col-lg-2 col-md-3 offset-md-3 justify-content-center text-center portfolio-item">
                            <img class="rounded-circle mx-auto d-block" src="static/profile_pics/meng_lin.jpg" alt="">
                            <h5 class="text-center">Marine Lin</h5>
                            <a href="https://www.linkedin.com/in/marine-lin/">
                              <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                          </div>
                        <div class="col-lg-2 col-md-3 justify-content-center text-center portfolio-item">
                            <img class="rounded-circle mx-auto d-block" src="static/profile_pics/kyrill_rekun.jpg" alt="">
                            <h5 class="text-center">Kyrill Rekun</h5>
                            <a href="https://www.linkedin.com/in/krekun/">
                              <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                          </div>
                        <div class="col-lg-2 col-md-3 justify-content-center text-center portfolio-item">
                            <img class="rounded-circle mx-auto d-block" src="static/profile_pics/xiao_rao.jpg" alt="">
                            <h5 class="text-center">Xiao Rao</h5>
                            <a href="https://www.linkedin.com/in/xiaorao/">
                             <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
